services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  rabbitmq:
      image: rabbitmq:3-management
      environment:
        RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
        RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
      ports:
        - "5672:5672"
        - "15672:15672"
      healthcheck:
        test: ["CMD", "rabbitmqctl", "status"]
        interval: 5s
        timeout: 5s
        retries: 10
  event-listener:
    build:
      context: ..
      dockerfile: event-listener/Dockerfile
    ports:
      - "8001:8001"
    environment:
      WEB3_PROVIDER_URL: ${WEB3_PROVIDER_URL}
      POSTGRES_URL: ${POSTGRES_URL}
      REDIS_URL: ${REDIS_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: unless-stopped
  event-consumer:
      build:
        context: ..
        dockerfile: event-listener/Dockerfile
      working_dir: /app/event-listener
      entrypoint: /app/event-listener/entrypoint.sh
      depends_on:
        rabbitmq:
          condition: service_healthy
        postgres:
          condition: service_started
      environment:
        POSTGRES_URL: ${POSTGRES_URL}
        RABBITMQ_URL: ${RABBITMQ_URL}
        REDIS_URL: ${REDIS_URL}
      restart: unless-stopped
volumes:
  postgres_data: